@font-face {
    font-family: 'DSDIGI';
    src: url('../fonts/DSDIGI.eot');
    src: local('DSDIGI'), url('../fonts/DSDIGI.woff') format('woff'), url('../fonts/DSDIGI.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Zen+Dots&display=swap');
.fontsforweb_fontid_1091 {
    font-family: 'DSDIGI' !important;
}


/*font-family: 'DSDIGI';*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

#wrapper {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ampm {
    display: flex;
    flex-direction: column;
    font-size: 4rem;
}

#newAlarm {
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 999;
}

#alarmBox {
    width: 100%;
    position: fixed;
    bottom: 5%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

#alarmBox input {
    background-color: rgba(128, 128, 128, 0.815);
    color: white;
    border-radius: 10px;
    font-size: 2rem;
    border: transparent;
    margin: 20px;
    padding: 10px;
}

#stopAlarm {
    margin: auto;
    justify-content: center;
}

#alarmList {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 5%;
    left: 5%;
}

#cuadroAlarmas {
    width: 30%;
    border: white 2px solid;
    position: fixed;
    top: 5%;
    right: 5%;
    color: white;
    z-index: 9999;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    padding: 10px;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.24);
}

#cuadroAlarmas p {
    padding-bottom: 10px;
}

#alarmas {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.digits {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'DSDIGI';
    font-size: 10rem;
    color: white;
    text-shadow: 0px 0px 30px white;
}

.on {
    color: white;
    text-shadow: 0px 0px 30px white;
}

.off {
    color: rgba(255, 255, 255, 0.404);
}

.btn {
    border: white 3px solid;
    background-color: transparent;
    color: white;
    font-size: 2rem;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.btn:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}

.alarmBoxHidden {
    display: none;
}

.alarmBoxDeployed {
    display: flex;
}

.btnYellow {
    font-family: 'Zen Dots', cursive;
    width: 20%;
    border: transparent;
    background-color: goldenrod;
    color: white;
    border-radius: 20px;
    position: fixed;
    top: 20%;
    padding: 20px;
    justify-content: center;
}

.btnYellow:hover {
    background-color: rgba(218, 165, 32, 0.664);
    transition: 0.5s;
}

.btnYellowView {
    width: 80px;
    height: 80px;
    border: transparent;
    background-color: goldenrod;
    color: white;
    border-radius: 50%;
    position: fixed;
    top: 5%;
    left: 5%;
    padding: 20px;
    justify-content: center;
    font-size: 2rem;
    align-items: center;
}

.btnYellowView:hover {
    background-color: rgba(218, 165, 32, 0.664);
    color: black;
    transition: 0.5s;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.alarmas {
    padding: 10px;
}

.btnEliminar {
    border: transparent;
    padding: 5px;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 0, 0, 0.404);
    border-radius: 10px;
}

.btnEliminar:hover {
    background-color: rgba(255, 0, 0, 0.514);
}

.rowAlarma {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@keyframes hide {
    from {
        bottom: 5%;
    }
    to {
        top: 150%;
    }
}

@keyframes show {
    from {
        top: 150%;
    }
    to {
        bottom: 5%;
    }
}